body {
  background-color: grey;
}
.jobsPage {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ddd;
    justify-items: center;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
}
.loadingIcon {
  justify-items: center;
}

.saveProfile{
    width: 300px;
    margin: 300px auto;
    justify-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.saveProfile button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .saveProfile button:hover {
    background-color: #218838;
  }